* {
    margin: 0;
    user-select: none;
}

body {
    overflow: hidden;
}

.da {
    transition: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
    filter: invert(1);
    font-size: 12vw;

    transition: color 100ms;
    animation: rotate 0s linear infinite;
}

img {
    position: absolute;
    transition: 500ms linear;
    width: calc(15vh + 15vw);
    z-index: 1;
}

#jaba {
    bottom: -20px;
    right: 0;
}

#ff {
    width: 100vw;
    height: 100vh;
    transition: background 100ms;
    z-index: 1;
    display: none;
}

#tt {
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#tt button {
    width: 70%;
}