* {
    margin: 0;
}

body {
    transition: background 100ms;
    overflow: hidden;
}

.da {
    transition: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
    filter: invert(1);
    font-size: 12vw;
    user-select: none;
    transition: color 100ms;
    animation: rotate 0s linear infinite;
}

img {
    position: absolute;
    transition: 500ms linear;
}